:root {
  --header-background: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  --color1: green;
  --color2: black;
  --welcome-color: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  --welcome-text-color:#8c795d;
  --contact-bg: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  --projects-bg: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  --welcome-font: Playfair Display;

}

html {
	width: 1400px;
	position: absolute;
	overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  background: var(--header-background);
  color: var(--welcome-text-color);
  font-family: var(--welcome-font);
}

main {
	margin-top: 51px;
}

img {
  width: 500px;
  height: 500px;
}

#nav-list {
  display: flex;
  float: left;
}

#navbar ul {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;

}

#navbar {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0;
  width: 90%; 
  background:  var(--header-background);
  padding-left: 45%;
  color: white;
}

#nav-list li a {
  font-family: Tahoma, sans-serif;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--text-color);
}

#nav-list li a:hover {
  color: yellow;
  background: linear-gradient(
    #42423c,
    var(--color2),
    var(--color1)
    );
}

/*-------NAV-END-------*/
/*-------ABOUT-START-------*/

#welcome-section {
	width: 100%;
  padding-top: 12%;
  padding-bottom: 20%;
  background: var(--welcome-color);
  text-align: center;
}

h1 {
  font-size: 50px;
}

h2 {
  margin-top: -15px;
  font-size: 30px;
}

#projects {
	padding: 35px;
	margin-left: auto;
	margin-right: auto;
	background: var(--projects-bg);
	text-align: center;
}

#projects a {
	text-decoration: none;
	color: blue;
}

.project-row1, .project-row2 {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto;
}

#contact {
  width: 100%;
  height: 50%;
  padding: 60px;
  background: var(--contact-bg);
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 45px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-github {
  background: transparent;
  color: black;
}

.fa-twitter {
  background: transparent;
  color: #1DA1F2;
}

.fa-instagram {
  background: linear-gradient(
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  );
  color: white;
}

@media only screen and (max-width: 700px) {
  html {
	width: 1100px;
	position: absolute;
	overflow-x: scroll;
}
}